body {
  margin: auto;
  display: flex;
  flex-direction: column;
}
img {
  opacity: 0.6;
  position: fixed;
}
#container,
.display {
  position: relative;
  border: 5px solid #fc5404;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0e3ca;
  border-radius: 10px;
}
#container {
  padding: 5px;
  margin-bottom: 5px;
}
#start {
  width: 80px;
  height: 40px;
  font-size: large;
}
p,
h2 {
  margin: 5px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
#rules {
  background-color: #c1ac95;
}
